* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
	transition: scroll-behavior 400ms ease;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #242B2E;
    padding: 20px 10px;
    color: #fff;
}

header h1 {
    font-size: 1.5rem;
    text-align: center;
}

.hero {
    background-color: rgb(5, 6, 45);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.slogan {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3E70A4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #265983;
}

.why-section {
    background-color: #FFFFFF; /* White background */
    color: #0D3B66; /* Dark blue text */
    padding: 40px;
    text-align: center;
	font-size:1.5rem;
	border: 2px solid red;	
	
}

.why-section h2 {
    margin-bottom: 30px;
	font-size:2.0rem;
}

.why-list {
    list-style: none;
    padding: 0;
}

.why-list li {
    margin-bottom: 10px;
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
}

.why-list li:nth-child(1) { animation-delay: 0.5s; }
.why-list li:nth-child(2) { animation-delay: 1s; }
.why-list li:nth-child(3) { animation-delay: 1.5s; }
.why-list li:nth-child(4) { animation-delay: 2s; }

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.how-it-works {
    background-color: #1E2326; /* White background */
    color: white; /* Dark blue text */
    padding: 50px;
    text-align: left;
}

.how-it-works h2 {
    margin-bottom: 20px;
}

.how-it-works p {
    margin-bottom: 20px;
}

.how-it-works ul {
    list-style: none;
    padding: 0;
}

.how-it-works li {
    margin-bottom: 15px;
animation: fadeInUp 1s ease forwards;
}

.how-it-works li strong {
    font-weight: bold;
}

.how-it-works li:last-child {
    margin-bottom: 0; /* Remove margin for the last list item */
}

/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;    
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;


}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

.button-82-pushable {

  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
	font-weight:bold;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}